:root {
  --bg: #000026;
  --card: #ffffff;
  --text: #5E85D9;
  --muted: #6b7280;
  --primary: #2563eb;
  --danger: #dc2626;
  --ok: #16a34a;
  --space: 16px;
  --radius: 12px;
}


:root {
  --bg: #000026;
  --card: #ffffff;
  --text: #5E85D9;
  --muted: #6b7280;
  --primary: #2563eb;
  --danger: #dc2626;
  --ok: #16a34a;
  --space: 16px;
  --radius: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg);
  color: var(--text);
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space);
  margin: auto;
}

.card {
  background: var(--card);
  padding: var(--space);
  border-radius: var(--radius);
  width: 100%;
  max-width: 800px;
} 

button {
  cursor: pointer;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: var(--radius);
}

button:hover {
  background-color: aqua;
  text-decoration: dashed;
}

.success {
  color: var(--ok);
  margin-top: var(--space);
}

.error {
  color: var(--danger);
  margin-top: var(--space);
}

footer {
  text-align: center;
  background: var(--card);
}
